*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

@font-face {
    font-family: shooting-star;
    src: url(shooting-star.ttf);
  }

.bg, .contentBg {
    background-image: url("../images/starbg.jpg");
    background-repeat: no-repeat;
    background-size: 2000px auto;
}

.bg {
    background-position: center top;
    padding: 100px 300px;
    height: 100vh;
}

.wrap {
    position: relative;
}

.contentBg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px;
    margin: 0 auto;
    background-position: center -100px;
    filter: blur(7px);
    -webkit-filter: blur(7px);

}

.content {
    border: 2px solid rgba(255, 255, 255, 0.361);
    border-radius: 10px;
    padding: 50px;
    margin: 0 auto;
    position: relative;
    height: 70vh;
}

h1 {
    color: rgb(255, 255, 255);
    font-family: shooting-star, sans-serif;
    font-weight: 300;
    letter-spacing: 3px;
}

p {
    color: rgba(223, 222, 222, 0.853);
    font-family: "Red Hat Text", sans-serif;
    line-height: 1.4;
    letter-spacing: 0.7px;
}


/* Huvudmeny */
#mainMenu ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

#mainMenu ul li {
    position: relative; /* Gör så att vi kan positionera pseudo-element */
}

/* Inaktiva länkar */
#mainMenu ul li a {
    font-family: "Codystar", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.9px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 15px 20px;
    background-color: rgba(240, 255, 255, 0.276); /* Bakgrund för inaktiva länkar */
    display: flex;
    align-items: center;
    border-radius: 10px 10px 0 0;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-bottom: 2px solid rgba(255, 255, 255, 0.361); /* Streck under inaktiva länkar */
    transform: translateY(2px);
}

/* Aktiva länkar */
#mainMenu ul li.current a {
    position: relative;
    z-index: 1;
    background-color: rgba(1, 56, 85, 0.276); /* Bakgrund för inaktiva länkar */
    backdrop-filter: blur(3px); /* Samma blur som contentBg */
    -webkit-backdrop-filter: blur(3px); /* För webkit-baserade webbläsare */
    border: 2px solid  rgba(255, 255, 255, 0.361);
    border-bottom: none; /* Ta bort streck under aktiv länk */
    transform: translateY(2px);
}


/* För att ta bort border-top under aktiva länken, använd positionering */
#mainMenu ul li.current a::before {
    content: "";
    position: absolute;
    top: -3px; /* Justera så att det inte overlappar */
    left: 0;
    right: 0;
    height: 3px; /* Höjd på border */
    background-color: transparent; /* Gör så att det blir osynligt */
    z-index: -1; /* Sätt bakom innehåll */
}

