*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

@font-face {
    font-family: shooting-star;
    src: url(shooting-star.ttf);
  }

  @font-face {
    font-family: twinkle-sunday;
    src: url(FabeloKids-Regular.ttf);
  }

.bg, .contentBg {
    background-image: url("../images/space-bg-small.jpg");
    background-repeat: no-repeat;
    background-size: 2000 auto;
    position: relative;
}

.bg {
    background-position: center top;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrap {
    position: relative;
}

.contentBg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px;
    margin: 0 auto;
    background-position: center -100px;
    filter: blur(14px);
}

.content {
    border: 2px solid rgba(255, 255, 255, 0.361);
    border-radius: 10px;
    padding: 20px 10px;
    margin: 0 auto;
    position: relative;
    background-color: rgba(0, 0, 0, 0.505);
    width: 1200px;
    height: 700px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

@media screen and (max-width: 1200px) {
    .content {
        width: 99vw;
    }
}

h1 {
    color: rgb(255, 255, 255);
    font-family: shooting-star, sans-serif;
    font-weight: 300;
    letter-spacing: 3px;
    justify-self: center;
}


h2 {
    font-family: twinkle-sunday, sans-serif;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 3px;
    color: #B3FFB3;
    text-shadow: 0px 0px 8px rgba(179,255,179,0.8);
    margin-top: 35px;
    margin-bottom: 10px;
}


p, strong, .pLi {
    color: rgba(255, 255, 255, 0.853);
    font-family: twinkle-sunday, sans-serif;
    font-size: 22px;
    line-height: 1.4;
    letter-spacing: 0.7px;
}

.pUl {
    margin: 15px 0;
}

strong {
    font-weight: 700;
    color: #eab5e4;
}

.pSmall {
    font-size: 12px;
}

/* Huvudmeny */
#mainMenu ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

#mainMenu ul li {
    position: relative; /* Gör så att vi kan positionera pseudo-element */
    margin: 0 2px;
}

/* Inaktiva länkar */
#mainMenu ul li a {
    font-family: twinkle-sunday, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
    padding: 15px 20px;
    background-color: rgba(240, 255, 255, 0.583); /* Bakgrund för inaktiva länkar */
    display: flex;
    align-items: center;
    border-radius: 10px 10px 0 0;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-bottom: 2px solid rgba(255, 255, 255, 0.361); /* Streck under inaktiva länkar */
    transform: translateY(2px);
}

/* Aktiva länkar */
#mainMenu ul li.current a {
    position: relative;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.520);
    backdrop-filter: blur(3px); /* Samma blur som contentBg */
    -webkit-backdrop-filter: blur(3px); /* För webkit-baserade webbläsare */
    border: 2px solid  rgba(255, 255, 255, 0.361);
    border-bottom: none; /* Ta bort streck under aktiv länk */
    transform: translateY(2px);
    color: rgb(255, 255, 255);
}


/* För att ta bort border-top under aktiva länken, använd positionering */
#mainMenu ul li.current a::before {
    content: "";
    position: absolute;
    top: -3px; /* Justera så att det inte overlappar */
    left: 0;
    right: 0;
    height: 3px; /* Höjd på border */
    background-color: transparent; /* Gör så att det blir osynligt */
    z-index: -1; /* Sätt bakom innehåll */
}

.reflections, .aboutAssignment {
    max-width: 800px;
    margin: 0 auto;
}

.reflections h2, .aboutAssignment h2 {
    text-align: center;
}

.gridContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bucketGrid {
    overflow-y: scroll;

}



.bucketlistPrio1 h2 {
    color: #FFD1B3;
    text-shadow: 0px 0px 5px rgba(255,209,179,0.8);
    justify-self: center;
}


.bucketlistPrio2 h2 {
    color: #B3FFFA;
    text-shadow: 0px 0px 5px rgba(179,255,250,0.8);
    justify-self: center;
}


.bucketlistPrio3 h2 {
    color: #B3CCFF;
    text-shadow: 0px 0px 5px rgba(179,204,255,0.8);
    justify-self: center;
}

.buckets {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 0;
    max-width: 450px;
    width: 100%;
    justify-self: center;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #00000089;
}

.buckets strong {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: left;
}

.buckets p {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    justify-self: left;
}

.buckets .pSmall {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-self: left;
}


.buckets form {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    justify-self: right;
    margin-top: 10px;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Fix position to the screen */
    z-index: 1; /* Sit on top */
    top: 0; /* Align to top of the screen */
    left: 0; /* Align to left of the screen */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.665); /* Black w/ opacity */
    border-radius: 12px;
    display: flex; /* Enable flexbox */
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    padding: 10px;
  }
  
  /* Modal Content/Box */
  .modalContent {
    background-color: #1e1e1e;
    padding: 20px;
    border: 1px solid #888;
    max-width: 600px; /* Max width */
    max-height: 600px; /* Max height */
    width: 100%; /* Could be more or less, depending on screen size */
    border-radius: 12px; /* Optional for rounded corners */
    margin: 10% auto 20px;
  }

  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .modalContent h2 {
    text-align: center;
  }

  #modalBtn {
    font-family: twinkle-sunday, sans-serif;
    position: absolute;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 1.5px;
    right: 0;
    top: 0;
    margin-right: 30px;
    margin-top: 40px;
  }

  @media screen and (max-width: 1060px) {
    #modalBtn {
    margin-top: 10px;
    margin-left: 30px;
    position: relative;
    }
  }

  form {
    display: flex;
    flex-direction: column;
  }

label {
    margin: 20px 0 5px 0;
    color: #fff;
    margin-left: 5px;
    font-family: twinkle-sunday, sans-serif;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 3px;
}

input, select, option, textarea {
    padding: 8px 5px;
    border-radius: 7px;
    border: none;
    box-shadow: 0px 0px 10px rgb(229, 227, 228), 0px 0px 50px rgba(200, 196, 198, 0.6);
    font-family: twinkle-sunday, sans-serif;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 3px;
}


.btn {
    margin-top: 40px;
    background-color: #B3FFB3;
    border: none;
    border-radius: 10px; /* Rundade hörn för att ge knappen en mjukare känsla */
    padding: 15px 30px; /* Öka padding för att göra knappen större och mer inbjudande */
    font-weight: bold;
    color: #333; /* Mörk text för bättre kontrast */
    cursor: pointer;
    transition: all 0.3s ease; /* Smidig övergång för alla förändringar */
    box-shadow: 0px 0px 20px rgba(179, 255, 179, 0.8), 0px 0px 30px rgba(179, 255, 179, 0.6); /* Lägg till fler skuggor för en starkare glöd */
    display: inline-flex; /* För att lägga ikonen och texten på samma linje */
    align-items: center; /* Vertikal centrering av text och ikon */
    align-self: center;
}

.btn:hover {
    background-color: #FFCCE5;
    box-shadow: 0px 0px 30px rgba(255, 204, 229, 1), 0px 0px 50px rgba(255, 204, 229, 0.6); /* Större och mer intensiv skugga vid hover */
    transform: scale(1.1); /* Gör knappen något större vid hover för en mer "levande" känsla */
}

#deleteBtn {
    display: flex;
    font-weight: 300;
    font-size: 30px;
    background-color: #FFCCE5;
    box-shadow: 0px 0px 20px rgba(255, 204, 229, 1), 0px 0px 30px rgba(255, 204, 229, 0.6); 
    margin: 0;
    padding: 0;
    height: 30px;
    width: 30px;
    justify-content: center;
    border-radius: 5px;
}

#deleteBtn:hover {
    background-color: #B3FFB3;
    box-shadow: 0px 0px 30px rgba(179, 255, 179, 0.8), 0px 0px 50px rgba(179, 255, 179, 0.6);
}

table {
    color: #fff;
    font-family: twinkle-sunday, sans-serif;
    font-size: 22px;
}


footer {
    position: absolute;
    bottom: 0;
    display: flex;
    background-color: #333333b0;
    width: 100%;
    justify-content: center;
}

footer p {
    margin: 0 10px;
    font-family: "Red Hat Text", sans-serif;
    font-size: 16px;
}

/*General media query*/

@media screen and (max-width: 835px) {
    .content {
        height: 85vh;
    }

    .footerLarge {
        display: none;
    }
}


@media screen and (max-width: 592px) {

    h1 {
    font-size: 24px;
    letter-spacing: -1px;
    margin-bottom: 20px;
    }

    h2 {
        font-size: 24px;
    }

    #mainMenu ul li a {
        font-size: 16px;
        padding: 12px 16px;
    }

    #mainMenu ul {
        margin-left: -35px;
    }

    strong, p {
        font-size: 20px;
    }


    .pSmall {
        font-size: 10px;
        margin-bottom: 10px;
    }

    .btn {
        font-size: 16px;
        padding: 10px 20px;
    }

    #deleteBtn {
        font-size: 22px;
        height: 24px;
        width: 24px;
        margin-top: -4px;
    }

    label {
        font-size: 16px;
    }
    
    input, select, option, textarea {
        font-size: 16px;
    }
    
    footer p {
        font-size: 12px;
    }
  }