/*Reset elements*/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

/*Import fonts*/
@font-face {
    font-family: shooting-star;
    src: url(shooting-star.ttf);
  }

  @font-face {
    font-family: twinkle-sunday;
    src: url(FabeloKids-Regular.ttf);
  }

  /*set background*/
.bg, .contentBg {
    background-image: url("../images/space-bg-small.jpg");
    background-repeat: no-repeat;
    background-size: 2000 auto;
    position: relative;
}

/*position background*/
.bg {
    background-size: cover;
    background-position: center top;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrap {
    position: relative;
}

/*create blurry background for content*/
.contentBg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px;
    margin: 0 auto;
    background-position: center -100px;
    filter: blur(14px);
}

/*content container*/
.content {
    border: 2px solid rgba(255, 255, 255, 0.361);
    border-radius: 10px;
    padding: 20px 10px;
    margin: 0 auto;
    position: relative;
    background-color: rgba(0, 0, 0, 0.505);
    width: 1200px;
    height: 700px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

/*change width of content on screens smaller than 1200px*/
@media screen and (max-width: 1200px) {
    .content {
        width: 99vw;
    }
}

/*header1 settings*/
h1 {
    color: rgb(255, 255, 255);
    font-family: shooting-star, sans-serif;
    font-weight: 300;
    letter-spacing: 3px;
    justify-self: center;
}

/*header2 settings*/
h2 {
    font-family: twinkle-sunday, sans-serif;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 3px;
    color: #B3FFB3;
    text-shadow: 0px 0px 8px rgba(179,255,179,0.8);
    margin-top: 35px;
    margin-bottom: 10px;
}

/*text settings*/
p, strong, .pLi {
    color: rgba(255, 255, 255, 0.853);
    font-family: twinkle-sunday, sans-serif;
    font-size: 22px;
    line-height: 1.4;
    letter-spacing: 0.7px;
}

.pUl {
    margin: 15px 0;
}

strong {
    font-weight: 700;
    color: #eab5e4;
}

.pSmall {
    font-size: 12px;
}

/*main menu*/
#mainMenu ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

#mainMenu ul li {
    position: relative; 
    margin: 0 2px;
}

/*inactive menu links*/
#mainMenu ul li a {
    font-family: twinkle-sunday, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
    padding: 15px 20px;
    background-color: rgba(240, 255, 255, 0.583); 
    display: flex;
    align-items: center;
    border-radius: 10px 10px 0 0;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-bottom: 2px solid rgba(255, 255, 255, 0.361); 
    transform: translateY(2px);
}

/*active menu links*/
#mainMenu ul li.current a {
    position: relative;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.520);
    backdrop-filter: blur(3px); /* Samma blur som contentBg */
    -webkit-backdrop-filter: blur(3px); /* För webkit-baserade webbläsare */
    border: 2px solid  rgba(255, 255, 255, 0.361);
    border-bottom: none; /* Ta bort streck under aktiv länk */
    transform: translateY(2px);
    color: rgb(255, 255, 255);
}


/*pseudo menu links*/
#mainMenu ul li.current a::before {
    content: "";
    position: absolute;
    top: -3px; 
    left: 0;
    right: 0;
    height: 3px; 
    background-color: transparent; 
    z-index: -1; 
}

/*index.php text*/
.reflections, .aboutAssignment {
    max-width: 800px;
    margin: 0 auto;
}

/*index.php text headings*/
.reflections h2, .aboutAssignment h2 {
    text-align: center;
}

/*position elements in content bucketlist.php*/
.gridContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*apply scroll*/
.bucketGrid {
    overflow-y: scroll;
}

/*design flex elements in content in bucketlist.php*/
.bucketlistPrio1 h2 {
    color: #FFD1B3;
    text-shadow: 0px 0px 5px rgba(255,209,179,0.8);
    justify-self: center;
}


.bucketlistPrio2 h2 {
    color: #B3FFFA;
    text-shadow: 0px 0px 5px rgba(179,255,250,0.8);
    justify-self: center;
}


.bucketlistPrio3 h2 {
    color: #B3CCFF;
    text-shadow: 0px 0px 5px rgba(179,204,255,0.8);
    justify-self: center;
}

/*settings for each bucket*/
.buckets {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 0;
    max-width: 450px;
    width: 100%;
    justify-self: center;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #00000089;
    margin: 10px 0;
}

.buckets strong {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: left;
}

.buckets p {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    justify-self: left;
}

.buckets .pSmall {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-self: left;
}

/*bucket delete button*/
.buckets form {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    justify-self: right;
    margin-top: 10px;
}


/*the modal to add buckets*/
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.665); 
    border-radius: 12px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 10px;
  }
  
  /*modal content/box*/
  .modalContent {
    background-color: #1e1e1e;
    padding: 20px;
    border: 1px solid #888;
    max-width: 600px; 
    max-height: 600px; 
    width: 100%; 
    border-radius: 12px; 
    margin: 10% auto 20px;
  }

  
  /*the modal close button*/
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .modalContent h2 {
    text-align: center;
  }

  #modalBtn {
    font-family: twinkle-sunday, sans-serif;
    position: absolute;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 1.5px;
    right: 0;
    top: 0;
    margin-right: 30px;
    margin-top: 40px;
  }

  /*modal button settings on smaller screens*/
  @media screen and (max-width: 1060px) {
    #modalBtn {
    margin-top: 10px;
    margin-left: 30px;
    position: relative;
    }
  }

  /*modal content*/
  form {
    display: flex;
    flex-direction: column;
  }

label {
    margin: 20px 0 5px 0;
    color: #fff;
    margin-left: 5px;
    font-family: twinkle-sunday, sans-serif;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 3px;
}

input, select, option, textarea {
    padding: 8px 5px;
    border-radius: 7px;
    border: none;
    box-shadow: 0px 0px 10px rgb(229, 227, 228), 0px 0px 50px rgba(200, 196, 198, 0.6);
    font-family: twinkle-sunday, sans-serif;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 3px;
}


.btn {
    margin-top: 40px;
    background-color: #B3FFB3;
    border: none;
    border-radius: 10px; /* Rundade hörn för att ge knappen en mjukare känsla */
    padding: 15px 30px; /* Öka padding för att göra knappen större och mer inbjudande */
    font-weight: bold;
    color: #333; /* Mörk text för bättre kontrast */
    cursor: pointer;
    transition: all 0.3s ease; /* Smidig övergång för alla förändringar */
    box-shadow: 0px 0px 20px rgba(179, 255, 179, 0.8), 0px 0px 30px rgba(179, 255, 179, 0.6); /* Lägg till fler skuggor för en starkare glöd */
    display: inline-flex; /* För att lägga ikonen och texten på samma linje */
    align-items: center; /* Vertikal centrering av text och ikon */
    align-self: center;
}

.btn:hover {
    background-color: #FFCCE5;
    box-shadow: 0px 0px 30px rgba(255, 204, 229, 1), 0px 0px 50px rgba(255, 204, 229, 0.6); /* Större och mer intensiv skugga vid hover */
    transform: scale(1.1); /* Gör knappen något större vid hover för en mer "levande" känsla */
}

/*delete button for each bucket*/
#deleteBtn {
    display: flex;
    font-weight: 300;
    font-size: 30px;
    background-color: #FFCCE5;
    box-shadow: 0px 0px 20px rgba(255, 204, 229, 1), 0px 0px 30px rgba(255, 204, 229, 0.6); 
    margin: 0;
    padding: 0;
    height: 30px;
    width: 30px;
    justify-content: center;
    border-radius: 5px;
}

#deleteBtn:hover {
    background-color: #B3FFB3;
    box-shadow: 0px 0px 30px rgba(179, 255, 179, 0.8), 0px 0px 50px rgba(179, 255, 179, 0.6);
}

/*footer settings*/
footer {
    position: absolute;
    bottom: 0;
    display: flex;
    background-color: #333333b0;
    width: 100%;
    justify-content: center;
}

footer p {
    margin: 0 10px;
    font-family: "Red Hat Text", sans-serif;
    font-size: 16px;
}

/*general media queries*/

@media screen and (max-width: 835px) {
    .content {
        height: 85vh;
    }

    .footerLarge {
        display: none;
    }
}


@media screen and (max-width: 592px) {

    h1 {
    font-size: 24px;
    letter-spacing: -1px;
    margin-bottom: 20px;
    }

    h2 {
        font-size: 24px;
    }

    #mainMenu ul li a {
        font-size: 16px;
        padding: 12px 16px;
    }

    #mainMenu ul {
        margin-left: -35px;
    }

    strong, p {
        font-size: 20px;
    }


    .pSmall {
        font-size: 10px;
        margin-bottom: 10px;
    }

    .btn {
        font-size: 16px;
        padding: 10px 20px;
    }

    #deleteBtn {
        font-size: 22px;
        height: 24px;
        width: 24px;
        margin-top: -4px;
    }

    label {
        font-size: 16px;
    }
    
    input, select, option, textarea {
        font-size: 16px;
    }
    
    footer p {
        font-size: 12px;
    }
  }